<div class="timer flex-centered">
  <span class="time-container flex-centered">
    <p class="time">00:00</p>
    <button 
      class="timer-control" 
      @onclick="TimerControlPressed"
    >
      @(isRunning ? "Stop" : "Start")
    </button>
  </span>
</div>

@code {
  private bool isRunning;

  private void TimerControlPressed()
  {
    isRunning = !isRunning;
  }
}