@using System.Reactive.Linq
@implements IDisposable
@inject IJSRuntime JSRuntime

<div class="timer flex-centered">
  <span class="time-container flex-centered">
    <p class="time">@(FormatSeconds(seconds))</p>
    <button 
      class="timer-control" 
      @onclick="TimerControlPressed"
    >
      @(isRunning ? "Detener" : "Iniciar")
    </button>
  </span>
  <audio id="alarm-audio" src="assets/cc-alarm.mp3">
    Your browser does not support the <code>audio</code> element.
  </audio>
</div>

@code {
  private int POMODORO_SECONDS = 10;
  private bool isRunning;
  private int seconds;
  public IObservable<long> PomodoroObservable { get; set; } = Observable.Interval(TimeSpan.FromSeconds(1));
  public IDisposable PomodoroSubscription { get; set; }

  private async void IncreaseSeconds()
  {
    seconds += 1;
    await JSRuntime.InvokeAsync<string>("updateTitle",string.Format(@"({0}) Blazor Pomodoro", FormatSeconds(seconds)));
    StateHasChanged();
  }

  private string FormatSeconds(int seconds)
  {
    return TimeSpan.FromSeconds(seconds).ToString(@"mm\:ss");
  }

  private async void OnComplete()
  {
    await JSRuntime.InvokeVoidAsync("playAudio");
    await JSRuntime.InvokeAsync<string>("updateTitle","Blazor Pomodoro");
    seconds = 0;
    isRunning = false;
    StateHasChanged();
  }

  private void TimerControlPressed()
  {
    if(isRunning) {
      StopSubscription();
    } else {
      PomodoroSubscription = PomodoroObservable.Take((POMODORO_SECONDS - seconds) + 1).Subscribe(
        x => IncreaseSeconds(),
        err => Console.WriteLine("On error: {0}", err.Message),
        OnComplete
      );
    }
    isRunning = !isRunning;
  }

  private void StopSubscription()
  {
    PomodoroSubscription?.Dispose();
  }

  public void Dispose()
  {
    StopSubscription();
  }
}