<div id="todo-list-container">
  <h2>ToDo List</h2>
  <ul id="todo-list">
    <TodoItem Id="1" Title="Learn japanese" IsChecked="false" />
    <TodoItem Id="2" Title="Finish Blazor sample" IsChecked="false" />
    <TodoItem Id="3" Title="Call Lasik Vision" IsChecked="true" />
  </ul>
</div>