<li class="todo-item" id="todo-@Id">
  <p>@Title</p>
  <input type="checkbox" name="todo-@Id" id="todo-input-@Id" checked="@IsChecked">
</li>

@code 
{
  [Parameter]
  public int Id { get; set; }
  [Parameter]
  public string Title { get; set; }
  [Parameter]
  public bool IsChecked { get; set; }
}