:root {
  --main-color: #ee6575;
  --secondary-color: #f9939d;
  --main-padding: 2em;
}

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

app {
  height: 100vh;
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

#todo-list-container {
  flex: 1;
  background-color: var(--main-color);
  color: white;
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
}

#todo-list {
  padding: 0;
  flex: 1;
}

.todo-item {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todo-item:hover {
  opacity: 0.7;
}

.todo-title {
  flex: 1;
  margin: 0;
  padding: 1em 0;
}

.todo-input-container {
  display: flex;
  align-items: center;
}

.new-todo-input {
  padding: 0.7em;
  border-radius: 5px;
  flex: 1;
  margin-right: 0.5em;
}

.count {
  font-size: 0.7em;
}

.summary-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

#main-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
}

.timer-container {
  flex: 1;
  display: flex;
}

.timer {
  flex: 5;
}

.time-container {
  border-radius: 50%;
  background-color: var(--main-color);
  height: 20em;
  width: 20em;
  flex-direction: column;
}

.time {
  color: white;
  margin: 0;
  font-size: 3em;
}

.current-task-container {
  flex: 3;
}

.current-task-title {
  color: var(--main-color);
  border-left: 4px solid var(--main-color);
  padding-left: 0.5em;
}

.timer-control {
  margin-top: 1em;;
}

button {
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  padding: 1em;
  border-radius: 4pc;
  width: 6em;
  color: white;
}

button:active {
  background-color: rgba(255,255,255,.08) !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,.9) inset !important;
  box-shadow: 0 0 0 2px rgba(255,255,255,.9) inset !important;
  outline: none;
}